@font-face {
  font-family: 'con-thuy';
  src: url(/static/fonts/fonts/UVNConThuy.TTF);
}
@font-face {
  font-family: 'dam-cuoi';
  src: url(/static/fonts/fonts/UVNDamCuoi_R.TTF);
}
@font-face {
  font-family: 'hoa-dao';
  src: url(/static/fonts/fonts/UVNHoaDao.TTF);
}
@font-face {
  font-family: 'thang-vu';
  src: url(/static/fonts/fonts/UVNThangVu.TTF);
}
@font-face {
  font-family: 'thu-tu';
  src: url(/static/fonts/fonts/UVNThuTu.TTF);
}
@font-face {
  font-family: 'han-viet';
  src: url(/static/fonts/fonts/UVNHanViet.TTF);
}
body{
  font-family: 'thang-vu';
}
.wed_great_titles h2 {
    font: 900 90px 'han-viet';
}
.wed_logo {
    font: 24px/18px 'han-viet';
}
h6, h5, h4, h3, h2, h1{
  font-family: 'thang-vu';
}
.wed_middle_titles h2 {
    font: 900 72px 'thang-vu';
}
.wed_top_menu a{
  font: 900 13px/24px 'han-viet';
}
.wed_parent ul a {
    font: 400 11px/18px 'han-viet';
    padding: 5px 10px;
}
.wed_icon_box h4 {
    font: 500 16px 'han-viet';
}
h1.wed_h1_title {
    font: 900 72px 'han-viet';
}
a{
	cursor: pointer;
}
.invitation {
    position: relative;
    /*width: 50%;*/
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #7949c8;
}
.wed_story_center{
	height: 200px;
}
.groom {
    position: absolute;
    left: 25%;
    display: inline-grid;

}

.bride {
    position: absolute;
    right: 25%;
    display: inline-grid;
}

.position {
    font-size: 15px;
    color: #000;
}

.wedding-invitation {
    color: #7949c8;
}

.wed_event_hours {
    color: #722dd6;
}
.invitation-panel-content{
	display: none;
}
.text-center .wed_wht_txt h3{
	max-width: 100%;
}
.wed_portfolio_item_cont:hover:after {
    opacity: 0.3;
}
/* For mobile phones: */
[class*="colum-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .colum-s-1 {width: 8.33%;}
  .colum-s-2 {width: 16.66%;}
  .colum-s-3 {width: 25%;}
  .colum-s-4 {width: 33.33%;}
  .colum-s-5 {width: 41.66%;}
  .colum-s-6 {width: 50%;}
  .colum-s-7 {width: 58.33%;}
  .colum-s-8 {width: 66.66%;}
  .colum-s-9 {width: 75%;}
  .colum-s-10 {width: 83.33%;}
  .colum-s-11 {width: 91.66%;}
  .colum-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .colum-1 {width: 8.33%;}
  .colum-2 {width: 16.66%;}
  .colum-3 {width: 25%;}
  .colum-4 {width: 33.33%;}
  .colum-5 {width: 41.66%;}
  .colum-6 {width: 50%;}
  .colum-7 {width: 58.33%;}
  .colum-8 {width: 66.66%;}
  .colum-9 {width: 75%;}
  .colum-10 {width: 83.33%;}
  .colum-11 {width: 91.66%;}
  .colum-12 {width: 100%;}
}