#myTable tr{
	cursor: pointer;
}
/*tạo block hiển thị ảnh hoặc blog*/
.block-contain{
    height: 150px;
    margin: 10px 0px 0 0px;
}
.block-contain img{
    width: 100%;
    height: 150px;
    position: absolute;
    padding: 0 8px;
    left: 8px;
}

.create-contain{
	text-align: center;
    height: 100%;
    line-height: 7;
    color: #FFF;
    font-size: 20px;
    position: relative;
    background: rgba(31, 30, 30, 0.4);
}
.edit-dropdown{
    top: 15px;
    left: 20px;
    position: absolute;
}
.dropdown buttom i{
    top: 5px;
    right: 5px;
    position: absolute;
}
.title-contain{
    position: absolute;
    margin-left: 3%;
    bottom: 30px;
    width: 90%;
    border-bottom: 1px solid #ffffff;
    color: #FFF;
}
.title-contain .title{
	font-size: 20px;
    padding: 0 10px;	
}
.title-contain .title a{
	color: #FFF;
}
.form-contain{
	padding: 15px;
}
.input-img-contain{
	padding: 0 30px;
}
.padding{
	padding-right: 0px;
	/*padding-left: 10px; */
}

.action-img{
	padding: 15px 0;
	text-align: center;
}
.block-thumnail-image{
    width: 15%;
    /* position: relative; */
    /* padding: 5px; */
    margin: 10px;
    float: left;
}
/*.caption-title{
	white-space: nowrap;
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}*/
.vehicle-content .vehicle-thumbnail{
	background-image: linear-gradient(to right, #283048 0%, #859398 51%, #283048 100%);
}

.customer-img,
.thumbnail .avatar-thumbnail {
    position: relative;
    display: block;
    overflow: hidden;
    

}
.customer-img:before,
.thumbnail .avatar-thumbnail:before {
	display: block;
    padding-top: calc(900% / 16);
    content: '';
}
.customer-img img,
.thumbnail .avatar-thumbnail img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: none;
    height: auto;
}

.caption.caption-title h3 {
	overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.edit-dropdown button {
	background-color: #fff;
	outline: none;
	border: 1px solid #367fa9;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	line-height: 18px;
	padding-bottom: 4px;
	    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.edit-dropdown button i {
	color: #367fa9;
	font-size: 18px;
	border-bottom: 2px solid #367fa9;
}

.edit-dropdown button:hover {
 	    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
 }

 /* chinh chinhh*/
table.customer-table-info tr {
	border: none;
	border-top: 1px solid #ddd;
}
table.customer-table-info tr td {
	vertical-align: middle;
}

table.customer-table-info .col-img{
	width: 200px;
}
.customer-img {
 	width: 100%;
}

table.customer-table-info .col-2-group {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.customer-name {
	font-size: 26px;
    font-weight: 600;
    line-height: 1.17;
    text-align: left;
    color: #444;
    margin-bottom: 5px;
}
.customer-cardid {
	padding-right: 30px;
}

.customer-cardid,
.customer-phone,
.customer-address {
	font-size: 16px;  	
  	color: #337ab7;
  	padding-top: 5px;
}

.customer-cardid span,
.customer-phone span,
.customer-address span{
  	color: #666;
  	font-weight: 600;
  	font-size: 18px;  	
}

/**/
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}


/*dashboard*/
#schedule {
  margin: 0 auto;
  padding: 10px;
  background: #FFF;
}
/*Google map*/
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

.header-map-content{
  width: 100%;
  padding: 20px 0;
}
.header-map-content iframe{
  width: 100%;
  height: 750px;
}