{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Wedding | Phước Nghĩa & Mỹ Linh {% endblock %}


{% block content %}


    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="images/fashion_couple/about_him_short.jpg">


      <!-- Over -->
      <div class="wed_over" data-color="#000" data-opacity="0.3"></div>

      <div class="container text-left">
        <div class="row">
          
          <div class="col-md-8">
            <h1 class="wed_h1_title">Mark Holts</h1>
            <h3>Some Subtitle</h3>
          </div>
          
          <div class="col-md-4">
            <div class="breadcrumbs">
              <a href="{% url 'mystory:index'%}">Trang Chủ</a><a href="#">Thông Tin</a><span>Chú Rể</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

      <!-- section -->
      <section class="wed_section_innerpage">
        <div class="container wed_great_titles">
          <div class="row">

            <div class="col-md-12 text-center">
              <h2 class="wed_form_txt">Little About Me</h2>
            </div>
            <div class="col-md-6 col-sm-12 text-left wed_event_hours">
              <p><b>I am Mark Holts.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur officia, commodi totam harum velit dicta expedita. Maiores esse voluptatem, quod, sapiente, sit vel nemo totam dicta asperiores animi quae, officiis.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br><br>Consequuntur officia, commodi totam harum velit dicta expedita. Maiores esse voluptatem, quod, sapiente, sit vel nemo totam dicta asperiores animi quae, officiis.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Maiores esse voluptatem, quod, sapiente, sit vel nemo totam dicta asperiores animi quae, officiis.Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div> 
            <!-- col end -->
            <div class="col-md-6 col-sm-12 text-left wed_event">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur officia, commodi totam harum velit dicta expedita. Maiores esse voluptatem, quod, sapiente, sit vel nemo totam dicta asperiores animi quae, officiis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> <br>Consequuntur officia, commodi totam harum velit dicta expedita. Maiores esse voluptatem, quod, sapiente, sit vel nemo totam dicta asperiores animi quae, officiis.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Maiores esse voluptatem, quod, sapiente, sit vel nemo totam dicta asperiores animi quae, officiis.Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
            <!-- col end -->
            <div class="col-md-12">
              <div class="wed_about_social">
                  <a href="#"><i class="ti ti-facebook"></i></a>
                  <a href="#"><i class="ti ti-twitter-alt"></i></a>
                  <a href="#"><i class="ti ti-google"></i></a>
              </div>
            </div>
          </div>
          <!-- row end -->
        </div>
        <!-- container end -->

      </section>
      <!-- section end -->
    

      <!-- White border -->
      {% include 'wedding/pages/footer.html' %}
        <!-- White border end -->
    </section>   
    <!-- Content End -->
{% endblock %}