{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Wedding | Phước Nghĩa & Mỹ Linh {% endblock %}


{% block content %}


    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="{{about.image.url}}">


      <!-- Over -->
      <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
      <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

      <div class="container text-left">
        <div class="row">
          
          <div class="col-md-8">
            <h1 class="wed_h1_title">Khoảnh khắc</h1>
            <h3>Some Subtitle</h3>
          </div>
          
          <div class="col-md-4">
            <div class="breadcrumbs">
              <a href="{% url 'mystory:index'%}">Trang Chủ</a><span>Khoảnh Khắc</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

      <!-- section -->
      <section class="wed_section_innerpage wed_great_titles">

        <div class="container text-center">

            <h2>Thư việc ảnh</h2>
            <!-- filters -->
            <div class="button-group filter-button-group">
              <a data-filter="*">Show All</a>
              <a data-filter=".web_design">Engagement</a>
              <a data-filter=".graphic_design">First Dates</a>
              <a data-filter=".logo_design">Trip</a>
            </div>
            <!-- filters end -->


            <!-- grid -->
            <div class="wed_portfolio grid">
        
              <!-- item -->
              <div class="col-sm-4 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/fashion_couple/rsvp.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Love Story</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/fashion_couple/rsvp.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-4 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/fashion_couple/shutterstock_151859936.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">First Met</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/fashion_couple/shutterstock_151859936.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-4 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/fashion_couple/shutterstock_151862162.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">First Met</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/fashion_couple/shutterstock_151862162.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              

              <!-- item -->
              <div class="col-sm-4 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/fashion_couple/shutterstock_151862165.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Love Story</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/fashion_couple/shutterstock_151862165.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>


              <!-- item -->
              <div class="col-sm-4 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/fashion_couple/about_her.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">First Met</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/fashion_couple/about_her.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>


              <!-- item -->
              <div class="col-sm-4 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/fashion_couple/shutterstock_151862282.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">First Met</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/fashion_couple/shutterstock_151862282.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              
              <!-- item -->
              <div class="col-sm-4 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/fashion_couple/shutterstock_180810389.jpg" alt="">
                    <span class="wed_port_titles">
                      <span class="wed_port_title">Love Story</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="images/fashion_couple/shutterstock_180810389.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              
              <!-- item -->
              <div class="col-sm-4 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/fashion_couple/about_him.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Love Story</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/fashion_couple/about_her.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>



              <!-- item -->
              <div class="col-sm-4 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="images/fashion_couple/slider1.jpg" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">First Met</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="images/fashion_couple/slider1.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

             </div>
             <!-- grid end -->

            </div>
            <!-- container end -->
  
        </section>
        <!-- section end -->

    </section>
    <!-- section end -->


   <!-- White border -->
      {% include 'wedding/pages/footer.html' %}
        <!-- White border end -->
    </section>
    <!--Content end -->


{% endblock %}