{% extends 'base.html' %} {% load staticfiles %} {% block title %} Wedding | Phước Nghĩa & Mỹ Linh {% endblock %} {% block content %}
<!-- Slider -->
<div class="wed_slider wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="{{menu.background.url}}">

    <!-- over -->
    <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

    <div class="container">

        <!-- Slider Texts -->
        <div class="wed_slide_txt wed_slide_right_middle text-center" data-0="opacity:1;" data--400-bottom="opacity:0;">
            <img src="{% static 'images/save_new4.png'%}" height="450" alt=""> {% if weddings%} {%for wedding in weddings%}
            <div class="invitation-panel-content {{wedding.code.slug}}" %}>
                <h4>{{wedding.time_calendar|date:"d.m.Y"}}</h4>
            </div>
            {%endfor%} {% endif%}
            <h3>Nghĩa & Linh</h3>
        </div>
        <!-- Slider Texts End -->

    </div>
    <!-- container end -->

</div>
<!-- Slider End -->

<!-- Content -->
<section id="wed_content" class="wed_content">


    <!-- BORDER -->
    <div class="wed_slider_border_zi4">

        <!-- story section -->
        <section id="story" class="wed_section_outter wed_couple clearfix">

            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <div class="wed_topstory_titile wed_great_titles">
                            <h2 class="wed_margtop">
                                Chúc Mừng Đôi Uyên Ương
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- filters -->
                <div class="button-group filter-button-group invitation-panel-tag">
                    {% if weddings%} {%for wedding in weddings%}
                    <a data-filter=".{{wedding.code.slug}}" class="{% cycle 'active' '' %}">Nhà {{wedding.code}}</a> {%endfor%} {% endif%}
                </div>
                <!-- filters end -->

                <!-- Row end -->
                {% if weddings%} {%for wedding in weddings%}
                <!-- Item -->
                {% if wedding.code.ishusban%}
                  <div class="wed_wrapper">
                      <div class="wed_img_1 skrollable skrollable-after" data-bottom="left:20%" data-center="left:0" data-image="images/fashion_couple/about_him.jpg" style="left: 0px; background-image: url({{wedding.code.image.url}});">
                          <a href="{% url 'mystory:about_him'%}" class="btn btn_new btn_popup">Chú Rể</a>
                          <h6 class="wed_name_left"><br><span>{{wedding.code.name}}</span></h6>
                      </div>
                  </div>
                {% else %}
                <!-- Item -->
                  <div class="wed_wrapper">
                      <div class="wed_img_2 skrollable skrollable-after" data-bottom="right:20%" data-center="right:0" data-image="images/fashion_couple/about_her.jpg" style="right: 0px; background-image: url({{wedding.code.image.url}});">
                          <a href="{% url 'mystory:about_her'%}" class="btn btn_new btn_popup">Cô Dâu</a>
                          <h6 class="wed_name_right"><br><span>{{wedding.code.name}}</span></h6>
                      </div>
                  </div>
                {% endif%} {%endfor%} {% endif%}
                <!-- Couple Text -->
                {% if weddings%}
                  <div class="married_txt skrollable skrollable-after wedding-invitation" data-bottom="opacity:0" data-center="opacity:1" style="opacity: 1;">
                      <div class="wed_portfolio_item_cont">
                          {%for wedding in weddings%}
                          <div class="invitation-panel-content {{wedding.code.slug}}" %}>
                              <h3>Lễ {{wedding.feast}}</h3>
                          </div>
                          {%endfor%}
                          <div class="row invitation">
                              {%for wedding in weddings%}
                              <div class="colum-3 colum-s-12 {{wedding.code.ishusban|yesno:'groom,bride' }}">
                                <span class="position">{{wedding.code}}</span> {{wedding.code.name}}
                              </div>
                              {% endfor%}
                          </div>
                          {% if weddings%} {%for wedding in weddings%}
                          <div class="invitation-panel-content {{wedding.code.slug}}">
                              <p> <span class="position"><strong>Được Tổ Chức</strong></span><br>
                                  <span class="position">Tại</span> <strong>{{wedding.location}}.</strong><br>
                                  <span class="position">Vào lúc</span> <strong>{{wedding.time_calendar|date:"H:i"}}</strong>
                                  <span class="position">Ngày </span> <strong>{{wedding.time_calendar|date:"d-m-Y"}}</strong>
                                  <span class="position">dương Lịch</span><br>
                                  <span class="position">Nhằm ngày </span><strong>{{wedding.time_lunar|date:"d-m-Y"}}</strong> <span class="position">âm Lịch </span><br></p>
                          </div>
                          {%endfor%} {% endif%}
                          <a href="{% url 'mystory:blessing'%}" class="btn btn_new">Gửi Lời Chúc</a>
                      </div>
                  </div>
                {% endif%}
            </div>
            <!-- END of CONTAINER -->

        </section>
        <!-- Section end -->
    </div>
    <!-- BORDER END -->

    <!-- White border -->
    <div class="wed_white_inner_border">
        <!-- section -->
        <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed" data-stellar-background-ratio="0.2" data-image="{{menu.image.url}}">
            <!-- Over -->
            <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
            <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

            <div class="container">
                <div class="row wed_auto_height wed_middle_titles">
                    <div class="col-md-12 wed_image_bck wed_fixed text-center">
                        <h2>Don't miss it!</h2>
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                {% if weddings%} {%for wedding in weddings%}
                <div class="invitation-panel-content {{wedding.code.slug}}" %}>
                    <span class="wed_countdown" data-year="{{wedding.time_calendar|date:" Y "}}" data-month="{{wedding.time_calendar|date:" m "}}" data-day="{{wedding.time_calendar|date:" d "}}" data-hour="17"></span>
                </div>
                {%endfor%} {% endif%}

            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    </div>
    <!-- White border end-->


    <!-- section -->
    <section class="wed_section_outter wed_border">
        <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
                <div class="col-md-12 wed_image_bck wed_fixed text-center">
                    <h2> Lời nói đầu </h2>
                    <p> Đám cưới của vợ chồng mình sẽ không thể trọn vẹn nếu không có các bạn. Sự có mặt của các bạn chính là niềm vui lớn nhất đối với mình. Những tình cảm các bạn dành cho mình là thứ tình cảm thiêng liêng và đáng trân trọng. Cảm ơn rất
                        nhiều-những người bạn đáng yêu của tôi.</p>
                    <p>Bên cạnh đó, những lời chúc của các bạn chính là món quà vô cùng ý nghĩa đối với bọn mình.</p>
                    <a href="{% url 'mystory:blessing'%}" class="btn btn_new">Gửi Lời Chúc</a>
                </div>
                <!-- col end -->

            </div>
            <!-- row end -->

        </div>
        <!-- container end -->

    </section>
    <!-- section end -->



    <!-- White border -->
    {% include 'wedding/pages/footer.html' %}
    <!-- White border end -->
</section>
<!--Content end -->

<!-- <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/27803131&color=%231c0424&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe> -->
<!-- <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143671703&color=%231c0424&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>{%endblock%} -->