{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Wedding | Phước Nghĩa & Mỹ Linh {% endblock %}


{% block content %}
  
    <!-- Slider -->
    <div class="wed_slider wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="{{menu.background.url}}">

      <!-- over -->
      <div class="wed_over" data-color="#000" data-opacity="0.1"></div>
      
      <div class="container">

        <!-- Slider Texts -->
        <div class="wed_slide_txt wed_slide_right text-center"  data-0="opacity:1;" data--400-bottom="opacity:0;">
          <img src="{% static 'images/save_new4.png'%}" height="550" alt="">
        </div>
        <!-- Slider Texts End -->
      </div>
      <!-- container end -->

    </div>
    <!-- Slider End -->

    <!-- Content -->
    <section id="wed_content" class="wed_content">


        <!-- story section -->
        <section id="story" class="wed_section_outter wed_couple_frame clearfix">

          <div class="container">             
            <div class="row">
              <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                  <div class="wed_topstory_titile wed_great_titles">
                      <h2 class="wed_margtop">
                          Happy Couple
                      </h2>
                  </div>
              </div>
            </div>
            <!-- Row end -->
            <div class="row">
              <!-- Item -->
              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-pull-1">
                <div class="wed_wrapper_frame">
                  <div class="wed_heart_img_1 skrollable skrollable-after" data-bottom="left:10%" data-center="left:0" data-image="images/blonde_couple/him.jpg" style="left: 0px; background-image: url(&quot;images/blonde_couple/him.jpg&quot;);">               
                    <a href="02_04_about_him.html" class="btn btn_new btn_popup">About Him</a>             
                    <h6 class="wed_name_left">Mark<br><span>Holts</span></h6>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="col-md-5 col-sm-5 col-xs-12 col-sm-offset-1">
                <div class="wed_wrapper_frame">
                  <div class="wed_heart_img_2 skrollable skrollable-after" data-bottom="right:10%" data-center="right:0" data-image="images/blonde_couple/her.jpg" style="right: 0px; background-image: url(&quot;images/blonde_couple/her.jpg&quot;);">
                    <a href="02_05_about_her.html" class="btn btn_new btn_popup">About Her</a>  
                    <h6 class="wed_name_right">Sally<br><span>Craft</span></h6>
                  </div>
                </div>
              </div>
       
             </div>
            <!-- row end -->
          </div>
          <!-- END of CONTAINER -->

        </section> 
        <!-- Section end -->


      <!-- White border -->
      <div class="wed_white_inner_border">
        <!-- section -->
        <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed" data-stellar-background-ratio="0.2" data-image="images/blonde_couple/happy.jpg" >
          <!-- Over -->
            <div class="wed_over" data-color="#a67ddc" data-opacity="0.9"></div>

          <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
              <div class="col-md-12 wed_image_bck wed_fixed text-center" >
                  <h2>Don't miss it!</h2>                    
              </div>
              <!-- col end -->
            </div>
            <!-- row end -->
            <span class="wed_countdown" data-year="2019" data-month="12" data-day="28" data-hour="17" data-minute="30"></span>   
          </div>          
          <!-- container end -->

        </section>
        <!-- section end -->
      </div>      
      <!-- White border end-->


        <!-- section -->
        <section class="wed_section_outter wed_border">
          <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
              <div class="col-md-12 wed_image_bck wed_fixed text-center" >
                <h2> Are you attending?</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices </p>
                <a href="02_02_reservation.html" class="btn btn_new">RSVP</a>
              </div>
              <!-- col end -->

            </div>
            <!-- row end -->

           </div>          
          <!-- container end -->

        </section>
        <!-- section end -->

      <!-- White border -->
      <div class="wed_white_inner_border">
        <!-- section -->
        <section id="where" class="wed_section_inner">
        <div class="container-full">

          <div class="row text-center">
            <!-- Item -->
            <div class="col-md-4 wed_nopadding">
              <div class="wed_wrapper">
                <img src="images/buildings/hotel.jpg" class="wed_fullwidth" alt="">
                <a href="02_01_gift_registry.html" class="btn btn_new btn_popup">Gift List</a>
              </div>
              <div class="wed_pad_txt">
                <h3>Gift Registry</h3>
                <span>Avenue Paducah 1285 7th street<br><br></span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
              </div>
                    
            </div>

            <!-- Item -->
            <div class="col-md-4 wed_nopadding">
              <div class="wed_wrapper">
                <img src="images/buildings/restaurant.jpg" class="wed_fullwidth" alt="">
                <a href="01_06_location.html" class="btn btn_new btn_popup">View Location</a>
              </div>
              <div class="wed_pad_txt">
                  <h3>Location</h3>
                  <span>Avenue Paducah 1285 7th street<br><br></span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
              </div>   
              </div>
               <!-- Item -->
              <div class="col-md-4 wed_nopadding">
                <div class="wed_wrapper">
                  <img src="images/buildings/church.jpg" class="wed_fullwidth" alt="">
                   <a href="01_05_accomodation.html" class="btn btn_new btn_popup">Accomodation</a>
                 </div>
                <div class="wed_pad_txt">
                  <h3>Accomodation</h3>
                  <span>Avenue Paducah 1285 7th street<br><br></span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
                </div>    
              </div>

          </div>
          <!-- Row End -->
        </div>
        <!-- container end -->
        </section>
        <!-- section end -->
      </div>
      <!-- Border End -->


       <!-- White border -->
      {% include 'wedding/pages/footer.html' %}
        <!-- White border end -->
    </section>
    <!--Content end -->


{% endblock %}
