{% extends 'base.html' %} {% load staticfiles %} {% block title %} Wedding | Phước Nghĩa & Mỹ Linh {% endblock %} {% block content %}


<!-- PAGE TITLE SMALL -->
<div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="{{menu.background.url}}">


    <!-- Over -->
    <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
    <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

    <div class="container text-left">
        <div class="row">

            <div class="col-md-8">
                <h1 class="wed_h1_title">Tiệc Cưới</h1>
                <h3>Some Subtitle</h3>
            </div>

            <div class="col-md-4">
                <div class="breadcrumbs">
                    <a href="{% url 'mystory:index'%}">Trang Chủ</a><span>Tiệc Cưới</span>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- PAGE TITLE SMALL END-->

<!-- Content -->
<section id="wed_content" class="wed_content">

    <section class="wed_section_inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wed_event_hours">
                    <h3>Thông Tin</h3>
                    {% if invitations%} {%for wedding in invitations%}
                    <h4>{{wedding.feast}} - {{wedding.time_calendar|date:"D"}}</h4>
                    <h4>{{wedding.time_calendar|date:"H:i"}} – {{wedding.time_calendar|date:"d-m-Y"}}</h4>
                    <b>{{wedding.location}}</b><br> {%endfor%} {%endif%}
                </div>
                <div class="col-md-6 hidden-sm hidden-xs">
                    <img src="{{menu.background.url}}" alt="">
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </section>
    <!-- section -->
    {% if invitations%} {%for wedding in invitations%}
    <section class="wed_section_innerpage">
        <div class="containter">
            <div class="row wed_inside_map">
                <div class="col-md-12">

                    <!-- over -->
                    <div class="wed_map_over text-center wed_wht_txt">
                        <div class="wed_map_txt wed_icon_box">
                            <img class="wed_small_img" src="images/small_people/rising_heart.png" alt="">
                            <div class="wed_icon_box_content">
                                <h4><b>Xem bản đồ nhà {{wedding.code}}</b></h4>
                            </div>
                        </div>
                    </div>
                    <!-- over end -->

                    <!-- over -->
                    <div class="wed_over" data-color="rgb(145, 74, 242)" data-opacity="0.9"></div>

                    <!-- map -->
                    <div id="map" class="wed_map">
                        <iframe src="{{wedding.gmap}}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <!-- map end -->

                </div>
            </div>
        </div>
        <!-- container end -->

    </section>
    <!-- section end -->
    {%endfor%} {%endif%}
</section>
<!-- section end -->


<!-- White border -->
{% include 'wedding/pages/footer.html' %}
<!-- White border end -->
</section>
<!--Content end -->


{% endblock %}