{% extends 'base.html' %} {% load staticfiles %} {% block title %} Thông Tin Đám Cưới | Phước Nghĩa & Mỹ Linh {% endblock %} {% block content %}


<!-- PAGE TITLE SMALL -->
<div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="{{menu.background.url}}">


    <!-- Over -->
    <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
    <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

    <div class="container text-left">
        <div class="row">

            <div class="col-md-8">
                <h1 class="wed_h1_title">Thiệp Cưới</h1>
                <h4>Xem thiệp cưới</h4>
            </div>

            <div class="col-md-4">
                <div class="breadcrumbs">
                    <a href="{% url 'mystory:index'%}">Trang Chủ</a><span>Thiệp Cưới</span>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- PAGE TITLE SMALL END-->

<!-- Content -->
<section id="wed_content" class="wed_content">

    <!-- BORDER -->
    <div class="wed_slider_border_zi4">

        <!-- story section -->
        <section id="story" class="wed_section_outter wed_couple clearfix invitation-wapper">

            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <div class="wed_topstory_titile wed_great_titles">
                            <h2 class="wed_margtop">
                                Happy Wedding!
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- filters -->
                <div class="button-group filter-button-group invitation-panel-tag">
                    {% if weddings%} {%for wedding in weddings%}
                    <a data-filter="{{wedding.code.slug}}" class="{% cycle 'active' '' %}">Nhà {{wedding.code}}</a> {%endfor%} {% endif%}
                </div>
                <!-- filters end -->

                <!-- Row end -->
                {% if weddings%} 
                    <div class="background-invitation">
                        <img src="{% static "images/border_invitation_top.png" %}">
                        <div class="row wapper-invitation ">
                            {%for wedding in weddings%}
                            <!-- Item -->
                                <div class="colum-5 colum-s-5 text-center content-invitation">
                                    <span class="title-parrent">Ông/Bà</span>
                                    <span class="name-parent">{{wedding.code.father|upper}}</span>
                                    <span class="name-parent">{{wedding.code.mother|upper}}</span>
                                    <span class="address-parrent">{{wedding.code.address}}</span>
                                </div>
                            {%endfor%}
                            {%for wedding in weddings%}
                                <div class="invitation-panel-content {{wedding.code.slug}}">
                                    <span class="inform-invitation">TRÂN TRỌNG BÁO TIN <span class="color-invitation"> LỄ {{wedding.feast|upper}} </span> CỦA CON CHÚNG TÔI</span>
                                </div> 
                            {%endfor%}
                            <div class="information-main-people">
                                {%for wedding in weddings%}
                                    <div class="colum-4 colum-s-4 content-invitation">
                                        <span class="name-main-people">{{wedding.code.name|upper}}</span>
                                        <span class="index-main-people">{{wedding.code.child_index}}</span>
                                    </div>
                                    {% if forloop.counter0|divisibleby:2 %}                                        
                                            <img src="{%static 'images/small_people/couple_1.png'%}" alt="">
                                    {% endif %}
                                {%endfor%}
                            </div>
                            {%for wedding in weddings%}
                                <div class="invitation-panel-content {{wedding.code.slug}}">
                                    <div class="address-invitation">Hôn lễ được cử hành tại <br><span class="color-invitation">{{wedding.location|upper}}</span></div><br>
                                    <div class="time-invitation">Vào lúc <span class="color-invitation">{{wedding.time_calendar|date:"H:i"}}</span></div>
                                    <div class="date-importal row">
                                        <div class="date-invitation colum-3 colum-s-3">Tháng {{wedding.time_calendar|date:"m"}} </div>
                                        <div class="day-invitation colum-4 colum-s-4">{{wedding.time_calendar|date:"d"}}</div>
                                        <div class="date-invitation colum-3 colum-s-3"> Năm {{wedding.time_calendar|date:"Y"}}</div>
                                    </div>
                                    <div class="inform-invitation">Nhầm ngày <span class="color-invitation">{{wedding.time_lunar|date:"d"}}</span> 
                                        Tháng <span class="color-invitation">{{wedding.time_lunar|date:"m"}}</span> 
                                        Năm <span class="color-invitation">{{wedding.time_lunar|date:"Y"}}</span> Âm Lịch 
                                    </div>
                                </div>

                            {%endfor%}
                            <div class="wishes-invitation">
                                SỰ HIỆN DIỆN CỦA QUÝ KHÁCH
                            </div>
                            <div class="wishes-invitation">
                                LÀ NIỀM VINH HẠNH CHO GIA ĐÌNH CHÚNG TÔI!
                            </div>
                        </div>
                        <img src="{% static "images/border_invitation_bottom.png" %}">
                    </div>
                {% endif%}
            </div>
            <!-- END of CONTAINER -->

        </section>
        <!-- Section end -->
    </div>
    <!-- BORDER END -->


    
    <section class="wed_section_innerpage">
        <div class="containter">
            <div class="row wed_inside_map">
                {% if weddings%} 
                    {%for wedding in weddings%}
                        <div class="invitation-panel-content {{wedding.code.slug}}" style="height:500px">
                            <!-- over -->
                            <div class="wed_map_over text-center wed_wht_txt">
                                <div class="wed_map_txt wed_icon_box">
                                    <img class="wed_small_img" src="{%static 'images/small_people/rising_heart.png'%}" alt="">
                                    <div class="wed_icon_box_content">
                                        <h4><b>Xem bản đồ nhà {{wedding.code}}</b></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- over end -->

                            <!-- over -->
                            <div class="wed_over" data-color="rgb(145, 74, 242)" data-opacity="0.9"></div>

                            <!-- map -->
                            <div id="map" class="wed_map">
                                {{wedding.gmap|safe}}
                            </div>
                            <!-- map end -->

                        </div>
                    {%endfor%} 
                {%endif%}
            </div>
        </div>
        <!-- container end -->

    </section>
    <!-- section end -->
    
</section>
<!-- section end -->


<!-- White border -->
{% include 'wedding/pages/footer.html' %}
<!-- White border end -->
</section>
<!--Content end -->


{% endblock %}